*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
}

body, input, button{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: black;
  color: white;
}

.container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;

}